<html>
	<head>
		<title>Cookie Jar!</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
	</head>
	<body>
		<h1>Feel free to set cookies using the console and `Cookies.set`</h1>
		<h2>req.cookies</h2>
		<pre><%= JSON.stringify(cookies, null, 2); %></pre>
		<h2>req.signedCookies</h2>
		<pre><%= JSON.stringify(signedCookies, null, 2); %></pre>
	</body>
</html>
