h1, h2, h3 {
  font-family: "Georgia", serif;
  text-align: center;
}

h1 {
  color: #00AA00;
}

p {
  line-height: 19px;
}

h4 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
